<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HangmanPy - Lobby</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">${roomName}</h5>
          <p class="card-text">${userCount}/p>
          <a href="#" class="btn btn-primary">Join</a>
        </div>
      </div>
      
      <div id='rooms'></div>
    
    <input type="text" id="new-room-name">
    <button class="btn" id="btn-new-room">Add new room</button>
    <script src="../static/lobby.js"></script>
</body>
</html>