<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">  
    <title>HangmayPy - Play</title>
</head>
<body>
    <div>
        <h1>Hello <span id="user">{{ username }}</span>!</h1>
        <h3>Lives: <span id="current-lives"></span></h3>
        <h3>
          Your current guess:
          <span id="current-word"></span> 
        </h3>
    
        <form id="guess" class="d-inline">
          <input type="text" name="guessChar" placeholder="guess..." autocomplete="off" maxlength="1" autofocus required>
          <button class="btn btn-dark" type="submit" name="forwardBtn" autofocus="autofocus">Guess</button>
        </form>
    
        <form id="restart" class="d-inline">
          <button class="btn btn-outline-dark type="submit" name="restartBtn" ">Restart</button>
        </form>

        {% if player.word == player.currentWord %}
        <h1>You won!</h1>
        {% endif %}
    
        {% if player.lives <= 0 %}
        <h1>You lost!</h1>
        {% endif %}
      </div>

      <div id='online-players'>
        <h3>Online players: (<span id="player-count"></span>)</h3>
      </div>

      <button id='testbutton'>asd</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script src=../static/login.js></script>
<script src="../static/play.js"></script>
</html>